@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
/* @import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Shared styles start */
.primary-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.section-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.text-center {
  text-align: center;
}
.secondary-btn {
  /* width: 200px; */
  /* margin: 0px 14px; */
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background: transparent;
  cursor: pointer;
}

.primary-btn {
  /* width: 200px; */
  background: rgb(230, 83, 60);
  border-radius: 42px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

/* Shared styles end */

/* header start */
header {
  padding-top: 30px;
  /* background: linear-gradient(
    180deg,
    rgba(119, 119, 119, 0.9),
    rgb(17, 17, 17) 100%
  ); */
  background: linear-gradient(to bottom,#000000,#1a1919);
  
}

nav {
  padding: 0 80px;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.website-name {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}
ul {
  display: flex;
  align-items: center;
  gap: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 6px;
  margin: 0 10px;
}
ul > li {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.home-btn {
  padding: 8px 20px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
#menu{
  display: none;
}
.banner {
  
  padding: 0px 80px;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  
}
.banner-content {
  width: 40%;
}
.banner-title {
  font-size: 4.2rem;
  color: white;
  margin-bottom: 28px;
  line-height: 70px;
}
#shape{
  font-family: "Miama";
  font-size: 4.2rem;
}
.image-container {
  width: 60%;
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-end; */
  justify-content: center;
  position: relative;
  /* border: 1px solid red; */
}
.banner-image{
  margin-left: 60px;
}

.tutorial {
  position: absolute;
  top: 445px;
  /* left: 280px; */
  left: 80px;
  width: 206px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 10px;
  cursor: pointer;
  /* padding: 20px 60px; */
}
.tutorial h3 {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 900;
}
#play-icon{
  color: rgb(230, 83, 60);
  transform: scale(2.5);
}

.video {
  position: absolute;
  top: 150px;
  right: 10px;
  width: 206px;
  height: 96px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.video h1 {
  color: rgb(250, 250, 249);
}
.btn-container {
  display: flex;
  align-items: center;
  margin-top: 28px;
}
.join-button,.download-btn{
  width: 220px;
  margin: 10px;
}
#Join{
  width: 100%;
}
#Download{
  width: 100%;
}
/* Header end */

/* Main section start */
main {
  background: rgb(17, 17, 17);
  padding-bottom: 80px;
}
main > section {
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 60px;
}
/* change habit start*/

.habit-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.habit-content {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0 5px;
}
.habit-content img {
  border: 3px solid gray;
  border-radius: 50%;
}
.habit-content h3 {
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  margin: 20px 0 8px 0;
}
/* change habit end */

/* run extra mile start */
.run {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 40px;
  margin-top: 70px;
  margin-left: 80px;
  margin-right: 80px;
}
.run-content {
  width: 40%;
}
.run-btn {
  margin-top: 20px;
}
.run-image img {
  width: 100%;
  height: 340px;
  border-radius: 20px;
  object-fit: none;
  object-position: 70% 33%;
}

/* run extra mile end */

/* bmi */
.bmi {
  margin-bottom: 50px;
  text-align: center;
}
.bmi-calculator {
  display: flex;
  /* padding: 30px 250px; */
  /* margin: 0 auto; */
  background-color: rgb(34, 34, 34);
  justify-content: center;
  /* align-items: center; */
  padding: 40px 80px;
}
.bmi-chart{
  width: 50%;
}
.table-container {
  margin-top: 30px;
}
table{
  border-collapse: collapse;
}
td,th {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.calculate-bmi {
  margin-left: 200px;
}

.calculate-bmi h2,
.bmi-chart h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0 8px 0;
}
input {
  /* width: 300px; */
  background-color: rgba(77, 75, 75, 0.5);
  border-radius: 10px;
  padding: 15px 15px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 1.12rem;
  border: none;
  outline: none;
}
select{
  width: 100%;
  background-color: rgba(77, 75, 75, 0.5);
  border-radius: 10px;
  padding: 15px 15px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 1.12rem;
  border: none;
  outline: none;

}
/* .factor {
 grid-area: area;
} */
.form-container {
  margin-top: 20px;
}
form{
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
  grid-template-areas: "height weight"
                        "number gender"
                        "activity-factor activity-factor";
  gap: 10px;
  margin-bottom: 10px;
}
.height{
  grid-area: height;
}
.weight{
  grid-area: weight;
}
.number{
  grid-area: number;
}
.gender{
  grid-area: gender;
}
.activity-factor{
  grid-area: activity-factor;
  margin-bottom: 10px;
  
}
.form-btn{
  width: 50%;
}
/* bmi */

/* meet our team */
.meet-image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  background: rgb(34, 34, 34);
  padding: 15px;
  border-radius: 15px;
  position: relative;
}

.meet-image {
  width: 100%;
  height: 250px;
  position: relative;

  /* height: 300px; */
}

.meet-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.meet-content h3 {
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.meet-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
/* meet our team end */

/* plan start */
.our-plan{
  /* background: rgb(34, 34, 34); */
  margin-top: 50px;

}
.card-containner{
  display: flex;
  justify-content: center;
 
  align-items: center;
  gap: 15px;
  margin-top: 50px;
  padding: 30px 20px;
}
.card{
  width: 25%;
  height: 400px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
}
.card, h1{
  line-height: 40px;
  color: white;
}
#cost{
  color: rgb(230, 83, 60);
}
#check{
  color: rgb(230, 83, 60);
}
.item-container{
  margin-top: 20px;
}
.item-container p{
  line-height: 30px;
}
/* .join-btn{
  
  text-align: center;
} */
.join-btn button{
  /* width: 80%; */
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(230, 83, 60);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  
}
/* plan end */

/* client review */
.client-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 80px;
}
.client-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 400px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;

}
.client-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  
  border: 2px solid rgb(230, 83, 60);
}
.client-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-content h2 {
  color: white;
  margin: 6px 0;
  
}
.client-content p {
  color: white;
  text-align: center;
  margin: 6px 0;
  
}
#Star{
  color: gold;
}
/* client review end */
/* footer start */
footer {
  background-color: rgb(34, 34, 34);
}
footer hr{
  /* height: 2px; */
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 80px;
  margin-right: 80px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  /* max-width: 1440px; */
  max-width: 1320px;
  margin: 0 80px;
  padding-bottom: 60px;
  padding-top: 60px;
}
.col-1 {
  width: 40%;
}

.col-1 p {
  margin-top: 20px;
}
.col-2 h2,
.col-3 h2 {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 25px;
}
ol > li {
  list-style: none;
  margin-bottom: 15px;
}
#copyright{
  padding: 15px 0;
}


/* For small devices */
@media screen and (max-width: 576px) {
  /* Shared */
  .section-title {
    font-size: 2rem;
  }
  main {
    background: rgb(17, 17, 17);
    /* padding-bottom: 80px; */
  }
  main > section {
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 60px;
  }
  /* shared */
  /* header start */
  header {
    width: 100%;
    padding: 10px 15px;
  }
  nav,.banner{
    padding: 0 10px;
  }
  ul {
    display: none;
  }
  #menu{
    display: inline;
    color: white;
    transform: scale(1.5);
  }
  .banner {
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
  }
  .banner-content p {
    width: 80%;
  }
  .banner-title {
    width: 80%;
    line-height: 50px;
    font-size: 2.4rem;
  }
  .btn-container {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    gap: 10px;
   
  
  }
  .join-button{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 48%; */
    /* border: 1px solid red; */
    margin: 0px;
    
  }
  /* .join-button button{
    width: 50%;
  } */
  .download-btn{
    /* width: 48%; */
    /* border: 1px solid rgb(230, 83, 60); */
    margin: 0px;
    /* margin-bottom: 15px; */
  }
  /* .download-btn button{
    width: 100%;
  } */
  /* .primary-btn
    {
      padding: 10px;
      width: 50%;
      font-size: 1rem;
    }
  
  .secondary-btn {
    padding: 10px;
    width: 50%;
    font-size: 1rem;
    margin: 0 0 0 14px;
  } */
  
  .banner-image{
    margin-left: 10px;
  }
 
  .image-container {
    width: 100%;
    /* justify-content: flex-start; */
    margin-top: 50px;
    position: relative;
  }

  .tutorial {
    top: 260px;
    left: 2px;
    width: 176px;
    height: 80px;
  }
  .video {
    top: 50px;
    right: -15px;
    width: 156px;
    height: 80px;
  }
  .video p {
    font-size: 0.875rem;
  }
  /* header end */
   /* habit section start */
   .habit {
    padding: 20px;
  }

  .habit-image-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .habit-content {
    width: 60%;
    margin-top: 30px;
  }

  /* habit section end */


  /* run section */

  .run {
    flex-direction: column;
    margin: 10px;
    padding: 30px;
  }
  .run-content,
  .run-btn {
    width: 100%;
  }
  .run-image{
    width: 100%;
  }
  .run-image img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    
    
  }
  .primary-btn {
    width: 100%;
    margin-bottom: 20px;
  }
  /* run section end */
/* BMI section */
.bmi {
  margin-bottom: 30px;
  text-align: left;
  padding: 15px;
}
.bmi-chart{
  width: 100%;
}
.calculate-bmi h2,
.bmi-chart h2 {
  
  font-size: 1.3rem;
  
}
.bmi-calculator {
  flex-direction: column;
  padding: 30px 20px;
}
.calculate-bmi {
  margin-top: 20px;
  margin-left: 0;
}
form {
  width: 100%;
  display: grid;
  grid-template-areas: "height weight"
                        "number gender"
                        "activity-factor activity-factor";
}

input,select{
  width: 100%;
}

/* .primary-btn{
  width: 50%;
} */
/* bmi section */
   /* meet our team */
   
   .meet-image-container {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 15px;
    position: relative;
  }
   .meet-team {
    margin: 10px;
  }
  .meet-image img {
   
    height: 250px;
   
  }
  .meet-image-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* meet our team */

  /* our plan */
  .our-plan{
    /* background: rgb(34, 34, 34); */
    margin-top: 20px;
    padding: 15px;
  
  }
  .card-containner{
    flex-direction: column;
    margin-top: 20px;
    padding: 0px;
  }
  .card{
    width: 100%;
    margin-top: 20px;
  }
  /* our plan end */

  /* client review */
  .review{
    padding: 15px;
  }
  .client-card-container{
    flex-direction: column;
    /* padding: 15px; */
    margin-top: 30px;
  }
  .client-card{
    width: 100%;
    margin-top: 20px;
  }
  /* client review end */
   /* footer */
   footer{
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    margin-left: 30px;
    width: 80%;
  }
  .col-1 {
    width: 100%;
  }
  .col-1 p {
    width: 100%;
    text-align: justify;
  }
  .col-2 h2 {
    margin-top: 20px;
  }
  footer hr{
    /* height: 2px; */
    width: 80%;
    margin-left: 30px;
   ;
  }
  /* footer */


}